<section>
  <div class="contact" id="contact">
    <h2 class="heading">Contacta<span>me</span></h2>

    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Nombre Completo" />
        <input type="email" placeholder="Direccion de email" />
      </div>
      <div class="input-box">
        <input type="text" placeholder="Asunto" />
      </div>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="Enviar mensaje" class="btn" />
    </form>
  </div>
</section>
