<div class="portfolio" id="portfolio">
  <h2 class="heading">Ultimos proyectos<span>.</span></h2>

  <div class="portfolio-container">
    <div class="portfolio-box">
      <img src="/assets/plumas.jpg" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Tatto-Art.E</h4>
        <P>
          Pagina web para local de tatuajes. Funcionalidad de registro y edicion
          de usuarios con roles, gestión de reservas sección de diseños con
          galería de fotos y sección de comentarios.
        </P>
        <a href="#" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="/assets/plumas.jpg" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Tatto-Art.E</h4>
        <P>
          Pagina web para local de tatuajes. Funcionalidad de registro y edicion
          de usuarios con roles, gestión de reservas sección de diseños con
          galería de fotos y sección de comentarios.
        </P>
        <a href="#" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="/assets/plumas.jpg" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Tatto-Art.E</h4>
        <P>
          Pagina web para local de tatuajes. Funcionalidad de registro y edicion
          de usuarios con roles, gestión de reservas sección de diseños con
          galería de fotos y sección de comentarios.
        </P>
        <a href="#" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="/assets/plumas.jpg" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Tatto-Art.E</h4>
        <P>
          Pagina web para local de tatuajes. Funcionalidad de registro y edicion
          de usuarios con roles, gestión de reservas sección de diseños con
          galería de fotos y sección de comentarios.
        </P>
        <a href="#" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="/assets/plumas.jpg" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Tatto-Art.E</h4>
        <P>
          Pagina web para local de tatuajes. Funcionalidad de registro y edicion
          de usuarios con roles, gestión de reservas sección de diseños con
          galería de fotos y sección de comentarios.
        </P>
        <a href="#" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</div>
