<div class="portfolio" id="portfolio">
  <h2 class="heading">Ultimos proyectos<span>.</span></h2>

  <div class="portfolio-container">
    <div class="portfolio-box">
      <img src="/assets/appTatto.png" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Tatto-Art.E</h4>
        <P>
          Pagina web para local de tatuajes. Funcionalidad de registro y edicion
          de usuarios con roles, gestión de reservas sección de diseños con
          galería de fotos y sección de comentarios.
        </P>
        <a href="https://local-tatto-one.vercel.app/home" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true" id="goLink"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="/assets/appPresupuesto.png" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Presupuestos</h4>
        <P>
          Sitio web para la gestión de ingresos y egresos. Permite agregar y
          eliminar transacciones de dinero, con la capacidad de visualizar
          totales y revisar el historial de movimientos.
        </P>
        <a href="#" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true" id="goLink"></i
        ></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="/assets/plumas.jpg" alt="Imagen Proyecto" />
      <div class="portfolio-layer">
        <h4>Listas de personas</h4>
        <P>
          Pagina web de agregar/eliminar personas a una lista. Relacionada con
          backend en Java.
        </P>
        <a href="#" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true" id="goLink"></i
        ></a>
      </div>
    </div>
  </div>

  <h2 class="heading">Primeros Proyectos</h2>
  <div class="portfolio-container">
    <div class="portfolio-box-second">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <div class="portfolio-layer-second">
        <h4>Aventura</h4>
        <P>
          Pagina web diseñada para contar una historia dramatica real sucedida
          en los Primeros meses de llegar a España. Despliegue en Netlify.
        </P>
        <a
          href="https://64d0b3598bc4d050e86515c8--exquisite-sherbet-58a941.netlify.app/"
          target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true" id="goLink"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box-second">
      <i class="fa fa-paw" aria-hidden="true"></i>
      <div class="portfolio-layer-second">
        <h4>InstaPet</h4>
        <P>
          Red Social para tus mascotas. Primeros formularios con estilos,
          posicionamiento de imágenes y estílos. Despliegue en Netlify.
        </P>
        <a href="https://dancing-treacle-544749.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true" id="goLink"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box-second">
      <i class="fa fa-calculator" aria-hidden="true"></i>
      <div class="portfolio-layer-second">
        <h4>Calculadora</h4>
        <P>
          Primer calculadora con operaciones matemáticas simples. Despliegue en
          Netlify.
        </P>
        <a href="https://dancing-treacle-544749.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true" id="goLink"></i
        ></a>
      </div>
    </div>
  </div>
</div>
