<app-home></app-home>
<div class="section" #sectionRef>
  <div class="about" id="about">
    <div class="about-img">
      <img src="/assets/plumas.jpg" alt="Image about" />
    </div>
    <div class="about-content">
      <h2 class="heading">Sobre Mi</h2>
      <h3>Programador Full-stack</h3>
      <p>
        Estudios finalizados en desarrollo de aplicaciones web Java | Angular
        con formacion en Testing manual y automatico.
      </p>
      <h3>Camarero | Sommelier</h3>
      <p>Con mas de 5 años de experiencia en gastronomía/restauración.</p>
      <h3>Musico</h3>
      <p>Autodidácta apasionado por la música | Teclado.</p>
      <a href="/services" class="btn">Leer mas</a>
    </div>
  </div>
  <div class="skill-content">
    <h2>Tecnologías</h2>
    <div class="skills">
      <h4>PostgresSQL</h4>
      <h4>Java</h4>
      <h4>Hibernate</h4>
      <h4>Angular</h4>
      <h4>Cypress</h4>
      <h4>MySQL</h4>
      <h4>SpringBoot</h4>
      <h4>Bootstrap</h4>
      <h4>GitHub</h4>
      <h4>Selenium</h4>
      <h4>Metodologías Agiles</h4>
      <h4>Html/Css</h4>
    </div>
    <h2>Habilidades</h2>
    <div class="skills">
      <h4>Comunicación</h4>
      <h4>Organización</h4>
      <h4>Metódico</h4>
      <h4>Trabajo en equipo</h4>
      <h4>Adaptabilidad</h4>
      <h4>Responsabilidades</h4>
    </div>
  </div>
</div>
