<app-home></app-home>
<div class="section" #sectionRef>
  <div class="about" id="about">
    <div class="about-img">
      <img src="/assets/plumas.jpg" alt="Image about" />
    </div>
    <div class="about-content">
      <h2 class="heading">Sobre Mi</h2>
      <h3>Programador Full-stack</h3>
      <p>
        Recien graduado en desarrollo de aplicaciones web Java | Angular con
        formacion en Testing manual y automatico.
      </p>
      <h3>Camarero | Sommelier</h3>
      <p>
        Con mas de 5 años de experiencia en gastronomía/restauración en
        Argentina y España.
      </p>
      <h3>Musico</h3>
      <p>Autodidácta apasionado por la música | Teclado.</p>
      <a href="#" class="btn">Leer mas</a>
    </div>
  </div>
</div>
