.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .3rem 1%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  z-index: 90;
}
.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
  font-size: 2.2rem;
  color: var(--text-color);
  font-family: Tahoma, sans-serif;
  font-weight: 600;
  cursor: default;
  text-decoration: none;
  margin-right: 25%;
}
.navbar{
  width: 101%;
}
.navbar a{
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 35px;
  margin-right: 55px;
  transition: .3s;
}
.navbar a:hover{
  color: var(--main-color);
}
.menu-icon {
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
.menu-icon a {
  visibility: hidden;
}
.menu-icon.active {
  visibility: visible;
}
.menu-icon i {
  display: block;
  margin-right: 0;
}
/*BREAKPOINTS
@media(max-width: 425px){
  .header{
    padding: 1rem 0 1rem 2rem;
    left: 15%;
    width: 185vw;
  }
  .logo{
    font-size: 4rem;
  }
  .menu-icon{
    display: block;
    margin-left: 20rem;
    font-size: 5rem;

  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 180%;
    padding: 1rem 2%;
    background: var(--bg-color);
    border-top: .1rem solid var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }
  .navbar.active{
    display: block;
    width: 155vw;

  }
.navbar a{
  display: block;
  font-size: 5rem;
  margin: 1rem 2rem;
}
}
@media(max-width: 768px){
  .header{
    padding: 1rem 0 1rem 2rem;
    left: 1%;
    width: 185vw;
  }
  .logo{
    font-size: 3rem;
  }
  .menu-icon{
    display: block;
    margin-left: 20rem;
    font-size: 5rem;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 180%;
    padding: 1rem 2%;
    background: var(--bg-color);
    border-top: .1rem solid var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }
  .navbar.active{
    display: block;
    width: 75vw;

  }
.navbar a{
  display: block;
  font-size: 2rem;
  margin: 1rem 2rem;
}
}
*/
@media (max-width: 1024px){
  .logo{
    font-size: 3rem;
  }
  .menu-icon{
    display: block;
    font-size: 2.8rem;
    position: fixed;
    left: 90%;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 180%;
    padding: 1rem 2%;
    background: var(--bg-color);
    border-top: .1rem solid var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }
  .navbar.active{
    display: block;
    width: 100vw;
  }
.navbar a{
  display: block;
  font-size: 2rem;
  margin: 1rem 2rem;
}
}
@media (max-width: 768px){
  .menu-icon{
    left: 90%;
  }
}
@media (max-width: 375px){
  .logo{
    font-size: 1.8rem;
  }
  .menu-icon{
    font-size: 2rem;
    left: 75%;
  }
}
