.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 2%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}

.logo{
  font-size: 2.2rem;
  color: var(--text-color);
  font-family: Tahoma, sans-serif;
  font-weight: 600;
  cursor: default;
  text-decoration: none;

}
.navbar a{
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 45px;
  margin-right: 65px;
  transition: .3s;
}
.navbar a:hover{
  color: var(--main-color);
}
.menu-icon {
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.menu-icon i {
  display: block;
}
