.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .3rem 2%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}
.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
  font-size: 2.2rem;
  color: var(--text-color);
  font-family: Tahoma, sans-serif;
  font-weight: 600;
  cursor: default;
  text-decoration: none;

}
.navbar a{
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 35px;
  margin-right: 55px;
  transition: .3s;
}
.navbar a:hover{
  color: var(--main-color);
}
.menu-icon {
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
.menu-icon a {
  visibility: hidden;
}
.menu-icon.active {
  visibility: visible;
}
.menu-icon i {
  display: block;
  margin-right: 0;
}
/*BREAKPOINTS*/
 @media(max-width: 768px){
  .menu-icon{
    display: block;
  font-size: 3rem;

  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 140%;
    padding: 1rem 2%;
    background: var(--bg-color);
    border-top: .1rem solid var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }
  .navbar.active{
    display: block;
  }
.navbar a{
  display: block;
  font-size: 2rem;
  margin: 1rem 0;
}
}
