.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 2rem;
}
.home-content{
  width: 45%;
}
.home-content h3{
  font-size: 2.0rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.4rem;
}
.home-img{
  width: 50%;
  padding-right: 5%;
}
#imag{
  width: 75%;
  box-shadow: 0 6px 10px 0 rgba(251, 4, 119, 0.6), 0 6px 10px 0 rgba(251, 4, 119, 0.6);
  border-radius: 40%;
  transform: translate(40%,0%);
  filter:grayscale(100%);
  transition: 1.5% ease-in-out;
}
#imag:hover{
  filter: grayscale(0%);
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 4rem 1.5rem 3rem;
}
.social-media a:hover{
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1 var(--main-color);
}
/* maquina escribir */
  #writer {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 26ch;
    color: var(--main-color);

    animation: typing 2s steps(26), blink .5s infinite step-end alternate;
    overflow:hidden;
    }

    @keyFrames typing {

    from { width: 0}
    }

    @keyFrames blink {
     50% { border-color: transparent}
    }

    .btn-neon{
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: #fff;
      letter-spacing: 4px;
      text-decoration: none;
      font-size: 24px;
      overflow: hidden;
      transition: 0.2s;
      margin-left: 23%;
      margin-bottom: 10%;
  }
  .btn-neon:hover{
      background: #a945c7;
      box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
      transition-delay: 1s;
   }
  .btn-neon span{
      position: absolute;
      display: block;
  }
  #span1{
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent,#a945c7);
   }
   .btn-neon:hover #span1{
      left: 100%;
      transition: 1s;
  }
   #span3{
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent,#a945c7);
  }
   .btn-neon:hover #span3{
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
  }
  #span2{
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,#a945c7);
  }
  .btn-neon:hover #span2{
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
  }
  #span4{
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,#a945c7);
  }
  .btn-neon:hover #span4{
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
  }
/*Responsive
@media (max-width: 1440px){

  .home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .home-content {
    text-align: left;
    padding-left: 6%;
  }
}
@media (max-width: 1024px){
  .home{
    display: inline-block;
  }
}
@media(max-width: 768px){
  .home{
    flex-direction: column;
  }
  .home-content h3{
    font-size: 2.8rem;
  }
  .home-content p{
    font-size: 2.6rem;
    padding-right: 5%;
  }

  .home-content h1 {
    font-size: 5rem;
  }
  .social-media{
    margin-left: 5rem;
  }
  .home-img #imag{
    width: 100vw;
    margin-top: 3rem;
    margin-left: -35rem;
  }

  }

@media(max-width: 425px){
    .home{
      flex-direction: column;
    }

    .home-content h3{
      font-size: 3.8rem;
        margin-left: 2rem;
    }
    .home-content p{
      font-size: 4.6rem;
      margin-left: 2rem;
    }

    .home-content h1 {
      font-size: 8.9rem;
    }
    .social-media{
      margin-bottom: 8rem;
    }
    .social-media a{
      margin-left: 5rem;
      width: 15vw;
      font-size: 9rem;
    }
    .social-media i{
      width: 15vw;
    }

    .home-img #imag{
      width: 100vw;
      margin-top: 3rem;
      margin-left: -9rem;
    }
    }
*/
