<div class="section">
  <div class="home" id="home">
    <div class="home-content">
      <h1>Diego Gomez Modolo</h1>
      <h3><span> Desarrollador Web ~ Tester</span></h3>
      <p>Aplicaciones web Java/Angular | Pruebas manuales y automáticas</p>
      <div class="social-media">
        <a href="https://www.instagram.com/gomito_gome/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/diego-gomez-modolo-6186b9170/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a
          href="mailto:gomezmdiego97@gmail.com?Subject=Consulta%20de%20sistema%20a%20gestionar."
          target="_blank"
          ><i class="fas fa-envelope"></i
        ></a>
        <a href="https://github.com/Dieote" target="_blank">
          <i class="fab fa-github"></i
        ></a>
      </div>
      <a href="#" class="btn">Descarga CV</a>
    </div>
    <div class="home-img">
      <img src="/assets/1651660309628.jpeg" alt="myImage" />
    </div>
  </div>
</div>
