<div class="section">
  <h2 class="heading">Servicios</h2>
  <div class="services-container">
    <div class="services-box">
      <i class="fa fa-code" aria-hidden="true"></i>
      <h3>Desarrollo Web</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus,
        atque nam quisquam neque saepe nostrum quaerat officia sed excepturi
        eos, consectetur, animi eligendi ut enim fugiat labore ullam doloribus
        tempora!
      </p>
      <a href="#" class="btn">Certificados</a>
    </div>

    <div class="services-box">
      <i class="fa fa-bug" aria-hidden="true"></i>
      <h3>Tester QA</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus,
        atque nam quisquam neque saepe nostrum quaerat officia sed excepturi
        eos, consectetur, animi eligendi ut enim fugiat labore ullam doloribus
        tempora!
      </p>
      <a href="#" class="btn">Certificado</a>
    </div>

    <div class="services-box">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <h3>Camarero | Sommelier</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus,
        atque nam quisquam neque saepe nostrum quaerat officia sed excepturi
        eos, consectetur, animi eligendi ut enim fugiat labore ullam doloribus
        tempora!
      </p>
      <a href="#" class="btn">Lista de Restaurantes?</a>
    </div>

    <div class="services-box">
      <i class="fa fa-music" aria-hidden="true"></i>
      <h3>Musico</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus,
        atque nam quisquam neque saepe nostrum quaerat officia sed excepturi
        eos, consectetur, animi eligendi ut enim fugiat labore ullam doloribus
        tempora!
      </p>
    </div>
  </div>
</div>
