<div class="section">
  <h2 class="heading">Servicios</h2>
  <div class="services-container">
    <div class="services-box">
      <i class="fa fa-code" aria-hidden="true"></i>
      <h3>Desarrollo Web</h3>
      <p>
        Soy un Programador Web Fullstack capaz de crear aplicaciones Web y
        Empresariales, con experiencia en bases de datos y diseño de vistas
        responsivas para navegadores.
      </p>
      <a href="#" class="btn">Certificados</a>
    </div>

    <div class="services-box">
      <i class="fa fa-bug" aria-hidden="true"></i>
      <h3>Tester QA</h3>
      <p>
        Me especializo en el aseguramiento de calidad, reporte de bugs, pruebas
        manuales y automatización de pruebas. Tengo conocimientos en pruebas
        ágiles en diversos marcos de trabajo.
      </p>
      <a href="#" class="btn">Certificado</a>
    </div>

    <div class="services-box">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <h3>Camarero | Sommelier</h3>
      <p>
        Con experiencia gastronómica en Argentina y España, ofrezco atención
        personalizada, habilidades como encargado de salón y bodega,junto con
        servicios de sommelier.
      </p>
      <a href="#" class="btn">Lista de Restaurantes?</a>
    </div>

    <div class="services-box">
      <i class="fa fa-music" aria-hidden="true"></i>
      <h3>Musico</h3>
      <p>
        Como amante de la música y apasionado por los instrumentos, he retomado
        mi formación musical de pequeño explorando rumbos artísticos. Tengo
        habilidades en lectura musical y ejecución.
      </p>
    </div>
  </div>
</div>
