.services-box h3{
  font-size: 2.0rem;
  font-weight: 700;
}
.heading{
    text-align: center;
    margin-top: 5%;
    line-height: 0.8;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px black;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 5%;
}
.services-container .services-box{
  width: 25rem;
  height: 30rem;
  background: var(--second-bg-color);
  padding: 2rem 2rem 1rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(-bg-color);
  transition: .5s ease;
}
.services-container .services-box:hover{
border-color: var(--main-color);
transform: scale(1.1);
}
.services-box i {
  font-size: 5rem;
  color: var(--main-color);
}
.services-box p {
  font-size: 1.6rem;
  color: var(-bg-color);
}
#description{
  text-align: center;
  color: var(--text-color);
  margin-bottom: 0;
  margin-top: 1.5rem;
  opacity: 40%;
  font-size: 1.4rem;
  text-shadow: 2px 2px 2px black;

}
/*Estilos Modal*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
}
.img-box {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box img {
  width: 100%;
  max-width: 600px;
  height: auto;
  transition: .5s ease;
}
.img-box:hover img {
  transform: scale(1.2);
}
.close-btn{
  position: fixed;
    top: 70px;
    right: 320px;
    z-index: 1;
    background-color: transparent;
    color: var(--main-color);
    font-size: 1.5rem;
    border: none;
}

/*Grilla Resto*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.grid-item {
  background-color: var(--second-bg-color);
  padding: 10px;
  text-align: center;
  border-radius: 25px 5px;
  transition: .5s ease;
}
.grid-item:hover {
  transform: scale(1.1);
}
.grid-item h4{
  font-size: 2.0rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 2px black;

}
.grid-item p{
  font-size: 1.0rem;
  font-weight: 40;
}
ul{
padding-left: 20px;
}
.grid-item li {
  font-size: 1.0rem;
  text-align: left;
  list-style: none;
  margin-bottom: .5rem;
}
.grid-item i {
  text-align: left;
  margin-right: 10px;
  margin-top: 5px;
  color: var(--main-color);
}
#links-work {
  display: flex;
  margin-left: 50px;
  margin-top: 10px;
}

.instagram-icon{
  font-size: 1.4rem;
  transition: .3s ease;
}
.instagram-icon:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.external-icon{
  font-size: 1.3rem;
  transition: .3s ease;
}
.external-icon:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.star-icon{
  font-size: 1.4rem;
  transition: .3s ease;
}
.star-icon:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
/*Responsive
@media (max-width: 991px){
  .services-container{
    margin-top: 3rem;
    margin-left: 5rem;
    width: 100%;
  }
  .heading {
    margin-top: 10rem;
  }
}

*/
@media(max-width: 1024px){
  .heading{
    margin-top: 5rem;
  }
}
@media(max-width: 768px){
  .services-container .services-box{
  width: 31rem;
  height: 35rem;
 }
 .services-box h3{
  font-size: 2.5rem;
}
.services-box p{
  font-size: 1.9rem;
}
#description{
  font-size: 1.6rem;
}
}
@media (max-width: 425px){

  .services-container{
    margin-left: 10%;
  }
  .services-container .services-box{
    width: 35rem;
    height: 62rem;
  }
  .services-box h3{
    font-size: 3rem;
  }
  .services-box p{
    font-size: 2.3rem;
  }
  .services-box .btn{
    font-size: 2.5rem;
  }
  .services-box #description{
    font-size: 2rem;
  }
}
@media (max-width: 425px){
  .services-container .services-box{
    height: 68rem;
  }
  .services-container{
    margin-left: 1%;
  }
}
