.section{
  min-height: auto;
  padding: 50px 8% 1rem;
  display: block;
}
.services h2{
  margin-bottom: 5rem;
}
.services-box h3{
  font-size: 2.0rem;
  font-weight: 700;
}
.heading{
    text-align: center;
    line-height: 0.8;
    font-size: 2.5rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.services-container .services-box{
  flex: .5 1 15rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(-bg-color);
  transition: .5s ease;
}
.services-container .services-box:hover{
border-color: var(--main-color);
transform: scale(1.02);
}
.services-box i {
  font-size: 5rem;
  color: var(--main-color);
}
.services-box p {
  font-size: 1.6rem;
  color: var(-bg-color);
}
