@import '~@fortawesome/fontawesome-free/css/all.css';
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --bg-color: #1f242d;
  --second-bg-color: #3c4554;
  --text-color: #c8d8f4;
  --main-color: #fb0477;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

}
html{
  font-size: 18px;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
.btn{
  display: inline-block;
  padding: .1rem .8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.3rem;
  color: black;
  letter-spacing: 400;
  transition: .5s ease;
  text-decoration: none ;
  margin-top: 0.5rem;
}
.btn:hover{
  box-shadow: none;
}

/* RESPONSIVE
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
*/
