@import '~@fortawesome/fontawesome-free/css/all.css';
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --bg-color: #1f242d;
  --second-bg-color: #3c4554;
  --text-color: #c8d8f4;
  --main-color: #fb0477;

}
html{
  font-size: 18px;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
section{
  min-width: 100vh;
  padding: 1rem 3% 2rem;
}
.btn{
  display: inline-block;
  padding: .1rem .8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.3rem;
  color: black;
  letter-spacing: 400;
  transition: .5s ease;
  text-decoration: none ;
  margin-top: 0.5rem;
}
.btn:hover{
  box-shadow: none;
}

/* RESPONSIVE*/
@media (max-width: 1200px){
  html{
    font-size: 55%;
  }
}
@media (max-width: 991px){
  .header{
    padding: 0 1%;
  }
  section{
    padding: 6rem 3% 2rem;
  }
  .footer{
    padding: 2rem ;
  }
}
/*@media (max-width: 991px){
  no coloca */
